<form name="frmConfirmYesNo" novalidate>

    <div class="modal-header">
        <h4 class="modal-title">Подтверждение</h4>
    </div>
        
		
	<!-- Form Edit -->	
	<div class="modal-body">
		{{text}}						
	</div>

	<div class="modal-footer">
		<!-- Yes -->
		<input type="button" 
		        id="cmdYes"
		        value="Да" 
		        class="btn btn-primary btn-sm" 
		        ng-click="yes()"
		/>
		
		<!-- No -->
		<input type="button" 
		        id="cmdNo"
		        value="Нет" 
		        class="btn btn-warning btn-sm" 
		        ng-click="no()"
		/>
	</div>		                		
</form>