<div class="form-group row">
	<label for="{{formControl.name}}" class="control-label" ng-class="formControl.labelClasses || 'col-sm-5'">
		{{formControl.desc}}:
	</label>
	
	<div ng-class="formControl.classes || 'col-sm-4'">
		<p class="input-group">
			<input id="{{formControl.id}}" 
					name="{{formControl.name}}" 
					class="form-control" 
					type="text" 
					ng-required="formControl.required" 
					ng-model="currentElement[formControl.model]"  
					uib-datepicker-popup="{{datepicker.format}}"
					is-open="datepicker.opened"
					datepicker-options="datepicker.options"
			/>
			
			<span class="input-group-btn">
				<button type="button" 
						class="btn btn-default" 
						ng-click="datepicker.opened = true"
				>
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>						
		</p>
		
		<div class="error" ng-show="form[formControl.name].$invalid && form[formControl.name].$dirty">
			<span ng-show="form[formControl.name].$error.required">
				Поле является обязательным
			</span>				
		</div>				
	</div>
</div>